button{
    background-color: black;
    border: 0.1rem solid white;
    border-radius: 12px;
    color: white;
    padding: 0.5rem;
    margin: 0.3rem;
    max-width: 40%;
}


button:hover{
    background-color: #EE5F54;
    color:black;
}